<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title>
        Log In
    </title>
</head>

<body class="bg-gray-800">
    <nav class="bg-gray-800 text-pink-500 text-2xl ">
        <div class="px-8 py-3 max-w mx-auto  border-pink-500">
            <div class="flex justify-center">
                <div class="flex space-x-5">
                    <div>
                        <a class="flex items-center py-4 cursor-pointer" herf="#">
                            <svg class="w-6 h-6 mr-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                                <path
                                    d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
                                </path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
                                </path>
                            </svg>
                            <span>Esport</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="w-auto text-white flex justify-center  ">
        <div class="mt-10 text-xl md:text-2xl xl:text-3xl">
            <div class="p-2 text-center ">
                <h1>Login</h1>
            </div>
            <form>
                <div class="border border-pink-600 rounded-3xl p-12 w-auto text-center  ">
                    <div class="flex flex-wrap justify-between">
                        <div class="mb-5 flex flex-wrap justify-between mr-10">
                            <label class="text-center ">Team Name:</label>
                            <Input class="bg-gray-800 border border-pink-600 rounded" type="text"
                                placeholder="Team Name" name="teamName" required">
                        </div>

                        <div class="mb-5 flex flex-wrap justify-between">
                            <label>Password :</label>
                            <Input class="bg-gray-800 border border-pink-600 rounded" type="password" maxlength="16"
                                name="password" placeholder="Mini.4" required>
                        </div>
                    </div>

                    <div>
                        <input
                            class="cursor-pointer p-2 rounded transition duration-500 ease-in-out bg-pink-600 hover:bg-pink-700 transform hover:-translate-y-1 hover:scale-110 "
                            type="button" value="login">
                    </div>
                </div>
            </form>

            <div class="text-center mt-10  w-auto mb-10">
                <h1><a class="cursor-pointer w-auto">Alredy Have Account?<span class="text-pink-600">Login</span></a>
                </h1>
                <h1 class="cursor-pointer">Home</h1>
            </div>
        </div>

    </main>
</body>

</html>